.about-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 2rem;
}

.idCard {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.photo {
    
   border-radius: 50%;
}

.info {
    padding: 15px;
}

p {
    margin: 0;
    line-height: 1.5;
}

label {
    font-weight: bold;
}