body {
    background-color: #007BFF;
    margin: 0;
    padding: 0;
}



.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #05e632;
    color: white;
    max-width: 100%;
    padding: 20px 0;
    align-items: left;
    z-index: 10;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}



.nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #007BFF;
}